:root{
  --font-bus:#4b55630f;
  --font-t-b:#111827;
  --color_one:#ffff;
  --text-money:#4b5563;
  --box: #e5e7eb;
  --box1: #F8F8F8;
}
.te h3:nth-child(1){
  color: var(--font-t-b);
  font-weight: 800;
}
.te ,.te h3{
  margin: 20px;
  color: var(--text-money);
  font-weight: 400;
}
.foo{
  display: flex;
  justify-content: space-around;
}
.reloj{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin: 0 20px;
}
.sec3 div:nth-child(2){
  padding: 0 6%;
  display: flex;
  justify-content: space-around;
}
.box1 div:nth-child(1){
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.box1 > div:nth-child(2){
  gap: 10px;
  display: flex;
  align-items: center;
}
.box1{
  display: flex;
  justify-content: space-between;
  background: var(--box1);
  padding: 10px;
  height: 100px;
  width: 300px;
  border-radius: 10px;
}
.title{
  display: flex;
  align-items: center;
  padding: 0 6%;
  font-size: 1.6em;
}
.title h1:nth-child(1){
  color: var(--font-t-b);
}
.title h1:nth-child(2){
  color: var(--text-money);
}
br{
  height: 40px;
  color: #111827;
}
.sec2{
  padding: 6%;
}
.bor{
  border-style: solid;
  border-color: var(--font-bus);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.a > h4{
  margin: 0 0 10px 0;
  color: var(--font-t-b);
}
.a > h5{
  margin: 0;
  color: var(--text-money);
}
.inf{
  display: flex;
  align-items: center;
  gap: 15px;
}
.secOne{
  background: url(/image/image_primari.svg);
  width: 100%;
  height: 100%;
}
.punto{
  display: flex;
  justify-content: center;
  font-size: 3em;
}
.punto > p{
  margin: 0;
}
.punto > p:nth-child(1){
  left: 10%;
}
.text-img > h5{
  color: var(--text-money);
  font-size: 1em;
  padding: 0;
}
.text-img > h1{
  color: var(--font-t-b);
  margin: 0;
  padding: 0 ;
  font-size: 4em;
}
.textOne{
  padding: 6%;
}
.btn-primary{
  border: none;
  background:var(--font-t-b) ;
  color: var(--color_one);
  padding: 20px 30px;
  border-radius: 30px;
  margin: 3% 0 0 0;

}
.front_img{
  top: 300px;
}
.hero_icon{
  display: flex;
  justify-content: end;
}
.icon_1{
  margin: 10px;
}
.bus{
  border-radius: 50px;
  background-color: var(--font-bus);
  display: flex;
  justify-content: center;
  padding: 10px 90px 10px 15px;

}
.buscador{
  background-color: transparent;
  border: none;
}
.logo{
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 5% 0 5% 20% ;
  
}
.logo > h2{
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}
.logo > h5{
  
  font-size: 0.6em;
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}
nav > div:nth-child(1){
  display: flex;
  justify-content: start;
}
